---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/Counter";
---

<BaseLayout>
    <div class="max-w-3xl mx-auto px-4 py-16">
        <h1>Astro Islands</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            sequi quos corrupti quam quod recusandae, vero culpa ipsum neque cum
            dolores optio iste temporibus dicta saepe eligendi iusto aperiam
            nihil? Molestias excepturi labore, provident autem necessitatibus
            voluptates fugit. Sed veniam, suscipit iusto numquam amet nam quae.
            Error commodi ut harum iusto distinctio labore nobis mollitia
            consequatur, consequuntur sequi, sint magni. Eius quam iste fuga,
            expedita neque deserunt aliquid? Voluptatem ipsam error nesciunt
            nulla, delectus laborum labore aperiam. Sunt assumenda, magnam
            quibusdam cum aut illo ipsa blanditiis aliquam dolorem earum dolor!
            Dolorum officiis optio in quaerat adipisci, autem ullam ab fugit,
            saepe similique facilis, ex repellat nemo eaque deserunt repellendus
            debitis numquam facere officia sit mollitia. Impedit magnam
            dignissimos placeat laboriosam! Suscipit, fuga omnis. Odit, tempore
            molestiae sequi odio deleniti velit provident facilis autem
            laudantium amet consequatur sunt eligendi maiores dolor, excepturi
            tempora. Provident asperiores, quidem magni nihil aspernatur a
            facere. Veniam placeat repellat, cupiditate velit dolore quidem!
            Quis, suscipit tempora minus expedita nesciunt, sint porro itaque
            quos magnam esse provident officiis sed ratione aliquam reiciendis
            quidem, animi sunt accusantium? Officia! Error tenetur voluptate
            ratione debitis doloribus asperiores maxime voluptas sunt optio
            eligendi numquam qui quam hic, explicabo nesciunt ipsa, voluptatem
            assumenda nam in perspiciatis deserunt architecto? Eum fugiat magnam
            exercitationem! Qui eaque corporis, perferendis alias aliquid
            inventore quae? Suscipit et dolore cumque ipsa recusandae tenetur
            doloremque debitis, eos saepe perspiciatis, eligendi consequatur
            laudantium, ut eius placeat nobis excepturi magnam maxime. Saepe
            eaque officiis mollitia sint omnis expedita delectus! Nostrum
            quibusdam eveniet ullam vel ipsum impedit sint cumque magni, quas
            obcaecati debitis eos illo a fuga reprehenderit nobis fugit
            cupiditate magnam. Iste doloribus ipsa aperiam quaerat voluptates,
            vero quam! Qui ratione corporis similique vitae non soluta ipsum
            vero necessitatibus est neque delectus nam exercitationem
            blanditiis, excepturi cumque. Provident atque illum quia! Enim,
            distinctio at? Dolores distinctio numquam nostrum laudantium earum,
            nihil dignissimos beatae corrupti eaque, reprehenderit harum. Eius
            placeat voluptas beatae cupiditate eaque eum quis corporis
            perferendis ut earum, laboriosam ea. Temporibus consequuntur
            exercitationem numquam, aspernatur veritatis amet? Facere placeat
            porro dolorum illo odit aspernatur autem rem doloremque harum esse
            omnis, sequi expedita quos eum cupiditate velit at eveniet obcaecati
            ipsum? Perferendis, quis voluptate aperiam saepe eos blanditiis
            similique inventore nisi nobis qui repudiandae mollitia culpa
            voluptas dignissimos in, suscipit fugit consequatur aliquam. Iure
            at, nobis enim sequi tempore amet deleniti. Blanditiis similique, at
            officiis rerum beatae voluptatem. Labore, quibusdam facilis nam
            praesentium perferendis iusto, voluptatem culpa libero itaque
            suscipit doloribus officiis eum hic impedit veniam! Quidem assumenda
            consequuntur magnam corrupti! Rerum, veniam! Illum non atque fuga
            libero et natus sunt sapiente nam, eius dolore, optio explicabo
            reprehenderit consequuntur excepturi beatae perspiciatis ipsa iure
            modi voluptatum vel fugiat minima similique. Perspiciatis?
            Aspernatur, animi fuga! Ipsam totam, est similique numquam eum nobis
            sint sequi et, pariatur facere, accusamus quisquam odit quo laborum
            dolores? Ad consequatur maxime odit suscipit quasi dolores
            doloremque aperiam? Quis animi ipsa natus dignissimos est
            necessitatibus nulla recusandae a? Consequatur optio velit
            voluptatibus recusandae, repellendus neque autem error impedit est
            blanditiis, eum veniam animi culpa perspiciatis aliquam corporis.
            Quod? Saepe, dolor ab voluptatum quisquam in totam excepturi quos
            impedit vero ullam libero rem ipsum voluptates commodi fuga possimus
            minima tempora at, aliquam consectetur nulla itaque veniam rerum.
            Itaque, quis! Molestias commodi mollitia porro consectetur. Impedit,
            nostrum pariatur commodi porro laborum illum alias aspernatur. Fugit
            rerum ullam corporis at inventore facere, quo, aut beatae explicabo
            sint animi, illum pariatur nesciunt! Dolores velit quod ducimus
            excepturi, officiis vero. Illum qui aliquid voluptatum placeat ut,
            rerum nostrum quia. Maxime, dolor doloremque? Deleniti modi
            reprehenderit dolores est itaque. Laboriosam impedit illo iure quam.
            Earum voluptatibus facilis nesciunt sint tempore dignissimos
            perferendis quas totam. Autem, repellendus excepturi voluptate vero
            facere optio quisquam blanditiis, totam voluptatem inventore dolorem
            accusamus dolore consequuntur porro possimus doloremque ut?
            Veritatis aperiam praesentium, nihil maxime incidunt quas doloremque
            dolores dolor corporis non deleniti nesciunt, exercitationem porro
            necessitatibus, culpa laudantium reprehenderit officiis atque
            similique. Maiores distinctio voluptatibus ab. Commodi, voluptas
            excepturi. Cumque doloribus adipisci sit aliquam odio aliquid
            quaerat quo minima hic placeat. Mollitia exercitationem modi
            dignissimos et at ratione nemo, sunt perspiciatis, harum pariatur
            unde voluptates eaque, natus repudiandae eius. Nisi officiis
            dignissimos tempora, harum facere similique vero quos ipsam
            accusantium architecto sequi ut laboriosam ullam quae debitis labore
            quisquam quasi, dolor provident necessitatibus quaerat enim? Commodi
            quidem omnis exercitationem? Beatae distinctio voluptate eos sit eum
            fuga at tempora ratione repellendus neque ab, vitae voluptatem
            impedit rem. Expedita rem fugit sunt voluptatum itaque labore iste
            sequi amet impedit unde. Eius. In modi qui eaque omnis commodi autem
            aliquam, voluptas animi ipsam deserunt beatae voluptates, cumque
            deleniti velit nemo tenetur vel quam eligendi doloremque id placeat
            nostrum ipsa eveniet dolor! Rem. Commodi sapiente laboriosam dolore
            autem? Quia cumque corrupti, quaerat nam aspernatur eos odio ratione
            saepe iste ex tenetur unde nobis nihil porro harum autem quos, eius
            expedita debitis fugiat illo! Porro nihil deserunt eaque beatae,
            soluta dolorem cum praesentium maiores at. Quam quis doloribus
            cupiditate iste nobis? Consequuntur sunt alias debitis, facere
            suscipit deleniti ex omnis blanditiis aliquid possimus ut. Aliquam
            quos rerum quis, laudantium iusto dolorem quisquam nemo in enim
            illum nihil est aperiam cupiditate quibusdam non fugit consequuntur
            officia dicta ipsa inventore obcaecati? Fuga enim reprehenderit unde
            laborum. At, amet! Exercitationem rerum saepe officia, quisquam est
            officiis libero optio iste? Ab quaerat explicabo fuga consectetur
            nihil, aliquid in soluta maiores numquam, dolore consequatur. Sequi
            ad fugit vero rerum.
        </p>
        <Counter client:load />
    </div>
</BaseLayout>
