---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import blogposts from "../data/blogposts.json";

blogposts.sort(
    (a, b) => new Date(b.date).getTime() - new Date(a.date).getTime(),
);
---

<BaseLayout>
    <section class="section_blog py-24">
        <div class="blog_contain max-w-7xl mx-auto px-4">
            <div class="blog_layout">
                {blogposts.map((post) => <BlogCard blogpost={post} />)}
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .blog_layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
</style>
