---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const html = `<p>Hi</p> <p>there</p>`;
---

<BaseLayout>
    <h1>Button Lesson</h1>

    <Button
        classList={["red", "blue"]}
        isBordered={true}
        background={"green"}
        color={"white"}
        id={"my-id"}
    >
        <!-- <div set:html={html} /> -->
        <!-- They will stack under each other regardless of flex -->
        <Fragment set:html={html} />
        <!-- They will stack across the row if there's flex -->
    </Button>
</BaseLayout>

<script>
    const button = document.getElementById("my-id");
    button?.addEventListener("click", () => {
        alert("Button clicked!");
    });
</script>
<style>
    @import "https://unpkg.com/open-props";
    @import "https://unpkg.com/open-props/normalize.min.css";
    body {
        display: grid;
        place-content: center;
        gap: 1.5rem;
        padding: 1.5rem;
    }
</style>
