---
const { href } = Astro.props;
---

<a href={href} class="text-2xl">
    <slot />
</a>

<!-- style scoped to this component -->
<style>
    a {
        color: green;
        padding-right: 1rem;
    }
</style>
